@page
@model IndexModel
@{
    ViewData["Title"] = "Todo Groups";
}

@* <div class="text-center">
    <h1 class="display-4">Todos Groups</h1>
    @if (Model.TodoGroupsResponse!=null && Model.TodoGroupsResponse.TodoGroups.Any()){
        <table class="table table-hover table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Group Name</th>
                    <th>Description</th>
                    <th>Create at</th>
                    <th>Todos</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            
                @foreach (var group in Model.TodoGroupsResponse.TodoGroups)
                {
                    <tr>
                        <td>@group.Name</td>
                        <td>@group.Description</td>
                        <td>@group.CreatedAt</td>
                        <td>@group.CountTodo/@group.FixedTodo</td>
                        <td>
                            <a class="btn btn-primary" asp-area="" asp-page="/Todo/index" asp-route-groupId="@group.Id">View Todos</a>
                        </td>
                    </tr>
            
                }
            </tbody>
        </table>

        <nav aria-label="Page navigation">
            <ul class="pagination">
                @if(Model.TodoGroupsResponse.Page > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="?p=@(Model.TodoGroupsResponse.Page - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                }            
            
                @for (var i = 1; i <= Model.TodoGroupsResponse.TotalPages; i++)
                {
                    <li class="page-item"><a class="page-link" href="?p=@i">@i</a></li>
                }
            
                @if(Model.TodoGroupsResponse.Page < Model.TodoGroupsResponse.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="?p=@(Model.TodoGroupsResponse.Page + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                }            

            </ul>
        </nav>
    }
</div> *@
